ipykernel
numpy
pandas
matplotlib
seaborn
bs4
flask
streamlit
scikit-learn<1.6
imblearn
openpyxl
fastapi
uvicorn
plotly
nbformat
redis
nltk
tensorflow
tensorboard
scikeras
tiktoken
torch